<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="#">Brand</a>-->
      <a class="navbar-left" href="#">
        <img src="assets/images/ConneXt.png">
      </a>
    </div>
    <div class="navbar-header navbar-right">
      <p class="navbar-text">Signed in as <%= @doctor.name %></p>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron col-sm-offset-1 col-sm-10">
  <form>
    <div class="form-group">
      <label for="exampleSelect2">Specialty</label>
      <select multiple class="form-control" id="exampleSelect2">
        <% @doctors.each do |doctor| %>
          <option> <%= doctor.specialty %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Doctor Gender</label>
      <select class="form-control" id="exampleSelect1">
        <option>--</option>
        <option>M</option>
        <option>F</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Medicare Covered</label>
      <select class="form-control" id="exampleSelect1">
        <option>--</option>
        <option>Y</option>
        <option>N</option>
      </select>
    </div>
    <%= link_to "Submit", app_pages_book_url, {:style =>'color:#FFFFFF;', :class=> "btn btn-lg btn-primary btn-block"} %>
  </form>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2017 - D@M:AS.</p>
  </div>
</div>