<div class="jumbotron">
    <h1 style="margin-left:20px;">Confirm Appointment</h1>

    <%= render 'form' %>
    
    <!--<%= link_to 'Show', @appointment %> |-->
    <%= link_to 'Back', app_pages_book_url, :style=>"margin-left:50px;" %>
</div>